/* css reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(13, 13, 13);
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* Header */
header {
    background-color: white;
    width: 0 auto;
    flex-shrink: 0;
}

.container {
    height: 13vh;
    padding: 0 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    height: 55px;
}

.navbar {
    display: flex;
}

.linkbox ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    height: 105px;
}

li {
    display: flex;
    align-items: center;
}

.linkbox li:hover {
    height: 75px;
    align-items: center;
    border-bottom: solid 5px rgb(2, 130, 250);

}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: x-small;
}


/* MAIN */

.jumbotron {
    position: relative;
    width: 100%;
    height: 40vh;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    overflow-y: hidden;
}

.jumbotron-img {
    top:-40px;
    position: absolute;
    object-position: center;
    width: 100%;
    height: 200%;
    z-index: 2;
}

.card-container {
    position: relative;
    z-index: 3;
    padding: 0 150px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(2, 130, 250);
    flex-shrink: 0;
}

.card {
    display: flex;
    align-items: center;
    color: white;
}

.card img {
    height: 36px;
}

figure {
    display: flex;
    font-size: 8px;
    gap: 10px;
    align-items: center;
}


/* FOOTER */
footer {
    background-image: url("/img/footer-bg.jpg");
    height: 45vh;
    flex-grow: 1;
    background-size: cover;
    z-index: 2;
    display:flex;
    flex-direction: column;
    position: relative;
}


.link-container {
    z-index: 2;
    padding: 0px 200px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    height: 260px;
    flex-grow: 1;
}

.big {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.link-container h4 {
    font-weight: 700;
    color: white;
    font-size: 12px;
}

.link-container ul li a {
    color: grey;
}

#logo-grande {
    position: absolute; 
    bottom: -20px;        
    left: 50%;            
    height: 400px;
    z-index: -1;          
}


.footer-container {
    display: flex;
}

.social .container {
    position: relative;
    background-color: rgb(34, 32, 32);
    z-index: 2;
    height: 90px;
}

.social-link ul {
    z-index: 2;
    color: white;
    display: flex;
    gap: 10px;

}

.social-link ul h4 {
    color: rgb(2, 130, 250);
}

.social-link ul img {
    height: 30px;
}

button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-color: rgb(2, 130, 250);

}